<label for="{{{id}}}">{{label}}</label>
<select id="{{{id}}}" tabindex="{{tabindex}}" name="{{{name}}}">
  {{#options}}
  <option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{value}}</option>
  {{/options}}
</select>